.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .upload-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 30%;
    border: 2px solid #3f51b5;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .file-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .file-input-label {
    font-size: 12px;
    font-weight: 300;
    color: white;
    background-color: #3f51b5;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .file-input-label:hover {
    background-color: #283593;
  }
  
  .file-name {
    margin-left: 15px;
    font-size: 16px;
  }
  
  button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #283593;
  }
  
  button:focus {
    outline: none;
  }
  
  table {
    width: 99%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .resultLable {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error {
    color: red;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  